#title {
  background-color: #ff4c68;
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

h2 {
  font-family: "Montserrat";
  /* font-size: 3rem; */
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

.message {
  font-weight: 900;
  font-size: 5rem;
}

.navbar {
  font-family: Ubuntu;
}

.rotates {
  transform: rotate(25deg);
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Features section */
.features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  /* text-align: center; */
  padding: 4.5%;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

/* press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.presspic {
  width: 15%;
  margin: 20px 20px 50px;
}

.testimonial-text {
  font-size: 3rem;
}

.testimonial-image {
  width: 20%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Pricing */
.priceing {
  padding: 100px;
  font-family: "Montserrat-Bold";
}

.card-title {
  background-color: #dedede;
  align-items: center;
}

.pricing-column {
  padding: 3% 5%;
}

.card-title {
  background-color: #dedede;
  margin: 0 0;
  text-align: center;
}

.card-header {
  text-align: center;
}

.card-text {
  text-align: center;
}

.plan-type {
  padding-bottom: 2rem;
}

/* footer */

#cta{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 7% 15%;
  line-height: 1.5;
}

.cta-heading{
  font-size: 3.5rem;
  font-weight: 900;
}

#footer{
  padding: 7% 15%;
  text-align: center;
}

.footer-icon {
  margin: 20px 10px;
}

/* social-icons */


/* @media viewprts */

@media (max-width:1028px){
  #title{
    text-align: center;
  }

  .title-image{
    width: 40%;
    transform:rotate(0);
  }
}
