#title{
  background-color: #ff4c68;
}

h1{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

.container-fluid{
  padding: 3% 15%;/*3 for top/botom 15 for left right*/
}

.navbar{
  font-family: Ubuntu;
}

.nav-link{
  font-family: Montserrat;
}

.rotates{
  transform: rotate(25deg);
}
